.hex:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.hex.selected:before {
  border-bottom: 30px solid blue;
}

.hex.adj:before {
  border-bottom: 30px solid orange;
}

.hex {
  margin-top: 30px;
  width: 104px;
  height: 60px;
  background-color: #6C6;
  position: relative;
  display: inline-block;
  margin: 5px;
  background-repeat: no-repeat;
  &.object {
    background-image: url('../images/objects.png');
    background-size: 60px auto;
    background-position: 22px 0px;
    &.bio{
      background-position: 22px -60px;
    }
    &.bomb{
      background-position: 22px -120px;
    }
    &.crowd{
      background-position: 22px -180px;
    }
    &.fire{
      background-position: 22px -240px;
    }
    &.radiation{
      background-position: 22px -300px;
    }
    &.rocks{
      background-position: 22px -360px;
    }
    &.skull{
      background-position: 22px -420px;
    }
    &.storm{
      background-position: 22px -480px;
    }
    &.table{
      background-position: 22px -540px;
    }
  }
  &.troop {
    background-size: 60px auto;
    background-position: 22px 0px;
    &.axe {
      background-image: url('../images/axe.png');
    }
    &.book {
      background-image: url('../images/book.png');
    }
    &.bow {
      background-image: url('../images/bow.png');
    }
    &.doctor {
      background-image: url('../images/doctor.png');
    }
    &.knight {
      background-image: url('../images/knight.png');
    }
    &.pistol {
      background-image: url('../images/pistol.png');
    }
    &.shoe {
      background-image: url('../images/shoe.png');
    }
    &.right {
      background-position: 22px -60px;
    }
    &.lr {
      background-position: 22px -120px;
    }
    &.ll {
      background-position: 22px -180px;
    }
    &.left {
      background-position: 22px -240px;
    }
    &.ul {
      background-position: 22px -300px;
    }
  }
  &.shotgun {
    background-size: 100px auto;
    background-position: 2px 0px;
    background-image: url('../images/shotgun.png');
    &.right {
      background-position: 2px -60px;
    }
    &.lr {
      background-position: 2px -120px;
    }
    &.ll {
      background-position: 2px -180px;
    }
    &.left {
      background-position: 2px -240px;
    }
    &.ul {
      background-position: 2px -300px;
    }
  }
  &.shovel {
    background-size: 80px auto;
    background-position: 12px 0px;
    background-image: url('../images/shovel.png');
    &.right {
      background-position: 12px -60px;
    }
    &.lr {
      background-position: 12px -120px;
    }
    &.ll {
      background-position: 12px -180px;
    }
    &.left {
      background-position: 12px -240px;
    }
    &.ul {
      background-position: 12px -300px;
    }
  }
  &.sword {
    background-size: 118px auto;
    background-position: -6px 0px;
    background-image: url('../images/sword.png');
    &.right {
      background-position: -6px -60px;
    }
    &.lr {
      background-position: -6px -120px;
    }
    &.ll {
      background-position: -6px -180px;
    }
    &.left {
      background-position: -6px -240px;
    }
    &.ul {
      background-position: -6px -300px;
    }
  }
  &.selected {
    background-color: blue;
  }

  &.adj {
    background-color: orange;
  }
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #6C6;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}

.hex.selected:after {
    border-top: 30px solid blue;
}

.hex.adj:after {
    border-top: 30px solid orange;
}
