// bower:scss
// endbower
@mixin rotate($degree) {
  -webkit-transform: rotate($degree);
  -moz-transform: rotate($degree);
  -ms-transform: rotate($degree);
  transform: rotate($degree);
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  // border: 1px solid black;
}

body {
  white-space: nowrap;
}

.rowBox {
  height: 0px;
  // margin: -4px;
  border: none;
}

.offBox {
  width: 57px;
  height: 90px;
  // background-color: black;
  display: inline-block;
}

.heightBox {
  height: 90px;
  // background-color: black;
  display: inline-block;
}

.border {
  width: 12px;
  height: 70px;
  background-color: black;
  position: absolute;
  z-index: 1;
  border-radius: 10px;
  &.left {
    left: -10px;
    top: -6px;
  }
  &.ll {
    @include rotate(120deg);
    left: 20px;
    top: 41px;
  }
  &.lr {
    @include rotate(60deg);
    left: 73px;
    top: 41px;
  }
  &.right {
    left: 103px;
    top: -6px;
  }
  &.ur {
    @include rotate(120deg);
    left: 73px;
    top: -54px;
  }
  &.ul {
    @include rotate(-120deg);
    left: 18px;
    top: -53px;
  }

}

