#menu {
  border: 5px solid blue;
  border-radius: 15px;
  width: 200px;
  height: 440px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  padding-top: 5px;
  background-color: #9ED9FE;
  opacity: 0.88;
  &.hidden {
    height: 0px;
    padding: 0px;
    > button {
      display: none;
    }
  }
}

button {
  display: block;
  font-size: 20px;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  width: 94%;
  height: 50px;
  line-height: 20px;
  &.place {
    border: 5px solid blue;
  }
  &.move {
    border: 5px solid orange;
  }
  &.advance {
    border: 5px solid green;
    &:active {
      background-color: green;
    }
  }
  &.remove {
    border: 5px solid red;
  }
  &.active {
    background-color: #838383;
  }
  &.obstacle {
    height: 30%;
  }
  &.back:active {
    background-color: orange;
  }
  &.object {
    margin: 6px 10px;
    display: block;
    float: left;
    width: 75px;
    height: 60px;
    background-size: 51px auto;
    background-position: 7px 0px;
    background-repeat: no-repeat;
    background-image: url('../images/objects.png');
    &.bio{
      background-position: 7px -51px;
    }
    &.bomb{
      background-position: 7px -102px;
    }
    &.crowd{
      background-position: 7px -153px;
    }
    &.fire{
      background-position: 7px -204px;
    }
    &.radiation{
      background-position: 7px -257px;
    }
    &.rocks{
      background-position: 7px -306px;
    }
    &.skull{
      background-position: 7px -357px;
    }
    &.storm{
      background-position: 7px -408px;}
    &.table{
      background-position: 7px -459px;
    }
    &.back{
      background-image: none;
      margin-left: 20px;
      margin-top: 0px;
      width: 150px;
    }
  }
  &.troop{
    margin: 6px 10px;
    display: block;
    float: left;
    width: 75px;
    height: 60px;
    background-size: 51px auto;
    background-position: 7px 0px;
    background-repeat: no-repeat;
    background-image: url('../images/troops.png');
    &.book {
      background-position: 7px -51px;
    }
    &.bow {
      background-position: 7px -102px;
    }
    &.doctor {
      background-position: 7px -153px;
    }
    &.knight {
      background-position: 7px -204px;
    }
    &.pistol {
      background-position: 7px -255px;
    }
    &.shoe {
      background-position: 7px -306px;
    }
    &.shotgun {
      background-position: 7px -357px;
    }
    &.shovel {
      background-position: 7px -408px;
    }
    &.sword {
      background-position: 7px -459px;
    }
    &.back{
      background-image: none;
      margin-left: 20px;
      margin-top: 0px;
      width: 150px;
    }
  }
  &.hidden {
    display: none;
  }
}

.hamburger {
  width: 40px;
  position: absolute;
  top: -32px;
  right: -10px;
  border: 3px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}

