#menu {
  border: 5px solid blue;
  border-radius: 15px;
  width: 200px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  background-color: #9ED9FE;
  &.hidden {
    > button {
      display: none;
    }
  }
}

button {
  display: block;
  font-size: 20px;
  padding: 10px;
  margin: 10px auto;
  background-color: white;
  border-radius: 15px;
  cursor: pointer;
  width: 94%;
  height: 50px;
  line-height: 20px;
  &.place {
    border: 5px solid blue;
  }
  &.move {
    border: 5px solid orange;
  }
  &.advance {
    border: 5px solid green;
    &:active {
      background-color: green;
    }
  }
  &.remove {
    border: 5px solid red;
  }
  &.active {
    background-color: lightGrey;
  }
}

.hamburger {
  width: 40px;
  position: absolute;
  top: -32px;
  right: -10px;
  border: 3px solid black;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
}
